@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    
    
}

body{
    background:#252628;
}

.body-principal{
    height: 100vh;
    width: 100vw;
    display: flex;
    background:#252628;

}
.menu{
    width:5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #181818;
    
}
.menu div{
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    width:40px;
    height: 40px;
    border: 1px solid #09FDD9;
    border-radius: 25%;
}
.menu div a{
    color:#09FDD9 ;
    text-decoration: none;
    padding:10px;
   
}
.menu div a:hover{
    color:#252628;
}


.menu div:hover {
    
    border:1px solid #09FDD9;
    border-radius:25%;
    text-decoration: none;
    background:#09FDD9;
    box-shadow: 0 0 10px #09fdd9,0 0 10px #09fdd9,0 0 10px #09fdd9;
    
}
.contenido_p{
    width:95%;
    background:#252628;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen_perfil{
    width:50%;
}
.imagen_principal{
    width:70%;
}
.descripcion_perfil{
    margin-left: 5%;
    width:50%;
    
}

.descripcion_perfil p {
    font-size: 48px;
    color:#fff;
}
.descripcion_perfil .boton-contactame a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0px;
    color:#09FDD9 ;
    margin-top: px;
    
}
.redes_sociales{
    margin-top: 20px;
}
.descripcion_perfil .redes_sociales a{
    font-size: 24px;
    color:#09FDD9 ;
    margin-right:30px;
}
.contenido_s{
    width:95%;
    background:#252628;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.info_personal{
    width: 90%;  
    display: flex;
    
}
.imagen_secundaria{
 width:300px;
 height:300px;
 border-radius: 50%;
 background:#fff;
 transition: 0.5s;
}
.imagen_secundaria:hover{
    background:#252628;
}
.perfil_secundario_img{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info_personal .datos_info{
    width:50%;
    display: flex;
    margin-top: 50px;
    justify-items:center;
    flex-direction:column;
    color:#fff;
}
.datos_info p{
    margin-top:10px;
}
.caja_datos{
    
    background:#181818;
    height:20%;
    width:40%;
    display: flex;
    justify-content: center;
     align-items: center; 
    color:#09fdd9;
    border: 1px solid #09FDD9;
    cursor: pointer;
    text-align: center;
    
    
}

.caja_datos a{
    width:100%;
    text-decoration: none;
    color:#09fdd9;
    
    
}
.nombre_p{
    font-size:36px
}
.descripcion_p{
    font-size:16px;
    margin-bottom: 20px;
    line-height: 30px;
}
.contenido_t{
    width:95%;
    background:#252628;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.proyecto_contenedor{
    display: flex;
    width:80%;
    justify-content: space-around;

}
.carta{
    width:280px;
    height:400px;
    padding: 2rem 1rem;
    background:#fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.carta:hover{
    transform: translateY(20px);
}
.carta:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    display: block;
    width: 100%;
    height:100%;
    background:linear-gradient(to bottom,rgba(9, 253, 216, 0.4),rgb(0, 0, 0,1));
    z-index: 2;
    transition: 0.5s all;
    opacity:0;
}
.carta:hover:before{
    opacity:1;

}
.carta img{
    width:100%;
    height:100%;
    object-fit:cover;
    position:absolute;
    top: 0;
    left:0;
}
.titulo_t{
    margin-bottom: 40px;
    color:#fff;
}

.carta .info_card{
    position: relative;
    z-index: 3;
    color:#fff;
    opacity: 0;
    transform: translateY(30px);
    transition:0.5s all;
}
.carta:hover .info_card{
    opacity: 1;
    transform: translateY(0px);
}
.carta .info_card h1{
    margin:0;
}
.carta .info_card p{
    letter-spacing:1px;
    font-size:15px;
    margin-top: 8px;
    margin-bottom:20px;

}
.info_card div{
    display:flex;
    align-items: center;
    justify-content: center;
}
.boton_neon{
    position: relative;
    display:inline-block;
    padding:10px 50px;
    color:#09fdd9;
    letter-spacing:2px;
    text-decoration: none;
    overflow: hidden;
    transition:0.5s;
    border:1px #09fdd9 solid;
    
}
.boton_neon:hover{
    background:#09FDD9;
    border:1px solid #09fdd9;
    color:#fff;
    box-shadow: 0 0 8px #09fdd9,0 0 20px #09fdd9,0 0 40px #09fdd9;
}
.pestañas ul{
    color: white;
    display:flex;
    margin-bottom: 20px;   
}
.pestañas ul .lista-pesta{
    margin:5px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 12px;
    height:25px;
    width:100px;
    list-style: none;
    border:solid #09fdd9 1px;
}
.pestañas ul .lista-pesta:hover {
    background:#09FDD9;
    border:1px solid #09fdd9;
    box-shadow: 0 0 10px #09fdd9,0 0 20px #09fdd9,0 0 40px #09fdd9;
}
.pestañas ul .active {
    background:#09FDD9;
    border:1px solid #09fdd9;
    box-shadow: 0 0 10px #09fdd9,0 0 20px #09fdd9,0 0 40px #09fdd9;
}


.contenido_c{
    width:95%;
    background:#252628;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.formulario_label {
    color:#fff;
    margin-bottom: 10px;;
}

.formulario_input{
    /* box-shadow: 0 0 15px #09FDD9; */
    font-size: 1.1em;
    background-color: #ddd;
    border: 3px solid #09FDD9;
    border-radius: 5px;
    
}
.formulario_input:focus{
    outline: none;
    box-shadow: 0 0 20px #09FDD9;
    border: 3px solid #09FDD9; 
}
.formulario_textarea{
    font-size: 1.1em;
    background-color: #ddd;
    border: 3px solid #09FDD9;
    border-radius: 5px;
    outline: none;
    resize: none;
    width:100%;
    
}
.formulario_textarea:focus{
    box-shadow: 0 0 20px #09FDD9;
}
.formulario_grupo{
    display: flex;
    width:100%;
}


.classxd{
    display:flex;
    flex-direction:column;
    padding:10px; 
    
}
.boton-centrado{
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.boton_enviar{
    position: relative;
    display:inline-block;
    padding:10px 50px;
    color:#09fdd9;
    letter-spacing:2px;
    text-decoration: none;
    overflow: hidden;
    transition:0.5s;
    border:1px #09fdd9 solid;
    background:#252628;
    cursor:pointer;
}
.boton_enviar:hover{
    background:#09FDD9;
    border:1px solid #09fdd9;
    color:#fff;
    box-shadow: 0 0 8px #09fdd9,0 0 20px #09fdd9,0 0 40px #09fdd9;
}
.titulo_contacto{
    display:flex;
   color:#fff;
    justify-content:center;

}

@media (max-width: 900px) {


            /* .contenidoprincipal{
    
    } */
    .body-principal{
        height: 100vh;
        width: 100vw;
        display: inline-block;
        background:#252628;
    
        }
        .menu{
        
        width:100vw;
        height:65px;
        display:flex;
        
        flex-direction:row;
        align-items: center;
        justify-content:center;
        background: #181818;
        
        }
        .menu div { 
            padding: 10px;
            margin:10px;
           
        }
        .descripcion_perfil p{
            
            font-size:30px;
            align-items: center;
            justify-content:center;    

        }
        .descripcion_perfil .boton-contactame a{
            font-size:18px;
        }
        .descripcion_perfil .boton-contactame{
            padding-top:30px
        }
        .contenido_p{
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
        }
        .imagen_perfil{
            margin-top:50px;
            width:100%;
            margin-bottom: 30px;
            
        }
        .img_perfil_png{
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .redes_sociales a i {
            margin-top:40px;
            font-size:15px;
            
            
        }
        .info_personal{
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse; 
            width:100%;

        }
        .imagen_secundaria{
            margin-top:30px;
            width:50vw;
            height:50vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .nombre_p{
            font-size: 20px;
        }
        .descripcion_p{
            font-size:12px;
        }
        .caja_datos{
            width:40vw;
        }
        .contenidotercero{

        }
        .pestañas{
            width:50%;
            

          
        }
        .proyecto_contenedor{
            display:flex;
            flex-direction: column;
            
            padding-left: 8px;
            margin-left: 20px;
            justify-content: center;
            align-items: center;    
                    
        }
        .carta{

            /* padding-top:20px; */
            

        }
        .info_card{
         

    }